.nright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  background-color: $color8;
  text-align: justify;
}
.text-h2 {
  font-size: 2em;
  text-align: center;
}

.parrafo span {
  color: #d1342fff;
}
