.card1 {
  background-color: black;
  .tequeno {
    img {
      border: 2px solid white;
      border-radius: 5px;
      @include sizes-img;
    }
    img:hover {
      opacity: 75%;
    }
  }
  .card-body {
    .efecto_lista:hover {
      transition: 0.4s;
      margin-bottom: 100px;
    }
    .efecto_lista {
      @include lista;
    }
  }
}
.card2 {
  background-color: black;
  .arepa {
    img:hover {
      opacity: 75%;
    }
    img {
      border: 2px solid white;
      border-radius: 5px;
      border-right: none;
      @include sizes-img;
      margin-bottom: 25px;
    }
  }
  .card-body {
    .efecto_lista:hover {
      transition: 0.4s;
      margin-bottom: 100px;
    }
    .efecto_lista {
      @include lista;
    }
  }
}

.card3 {
  background-color: black;
  .yankee {
    img:hover {
      opacity: 75%;
    }
    img {
      border: 2px solid white;
      border-radius: 5px;
      border-right: none;
      @include sizes-img;
      margin-bottom: 20px;
    }
  }
  .card-body {
    .efecto_lista:hover {
      transition: 0.4s;
      margin-bottom: 100px;
    }
    .efecto_lista {
      @include lista;
    }
  }
}

.card4 {
  background-color: black;
  .pizza {
    img:hover {
      opacity: 75%;
    }
    img {
      border: 2px solid white;
      border-radius: 5px;
      @include sizes-img;
    }
  }
  .card-body {
    .efecto_lista:hover {
      transition: 0.4s;
      margin-bottom: 100px;
    }
    .efecto_lista {
      @include lista;
    }
  }
}
