header {
  nav {
    background-image: linear-gradient(to left, black, #434038ff);
    .container-fluid {
      background-image: linear-gradient(to right, black, #434038ff);
      .nav-link {
        color: white;
      }
      .nav-link:hover {
        font-size: 1.3em;
        border-top: 2px solid #475977ff;
        border-bottom: 2px solid #475977ff;
        transition: all 0.5s;
        border-radius: 2px;
      }
    }
  }
}
