.staff {
  background-image: url(../media/humo.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  .container-form {
    margin-top: 20px;
    width: 400px;
  }
}
