$color1: white;
$color2: black;
$color3: #434038ff;
$color4: #475977ff;
$color5: red;
$color6: rgb(0, 120, 154);
$color7: rgba(0, 0, 0, 0.5);
$color8: rgba(0, 0, 0, 0.2);
$color9: rgba(0, 0, 0, 0.3);
$color10: #57577e;
$color11: #706c6c;
$color12: #1f7ea7ff;
$color13: #4d4646;
$color14: #3866f2;
$color15: #2f71e8ff;

$mapa1: (
  margen-main: 10px,
  h1-size: 3em,
  color-span: #d1342fff,
);
